script(type="text/javascript", src="/web-socket-js/swfobject.js")
script(type="text/javascript", src="/web-socket-js/web_socket.js")
script(type="text/javascript", src="/javascripts/sms.js")


br
br
br
br
.container
  .row
    .span8.offset2
      #no-websocket.alert.alert-error.hide
        h4 Error!
        span Your browser does not support WebSockets!

#log-rows.container

#dir-rows.container
#sms-rows.container